<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654457653950-6c1hvm5guse6tu1kseuml8tphsi60gij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654457653950-6c1hvm5guse6tu1kseuml8tphsi60gij</string>
	<key>API_KEY</key>
	<string>AIzaSyBrgDRZESBF0e53TdfKmjN5bMn2l_H-jLs</string>
	<key>GCM_SENDER_ID</key>
	<string>654457653950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyApp</string>
	<key>PROJECT_ID</key>
	<string>myapp-538eb</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-538eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654457653950:ios:26daf556187721ef822cef</string>
</dict>
</plist>